@import 'nib'

// Core variables
@import 'styles/variables'


// Reset 
//@import 'vendor/normalize.min.css'


// Core css
@import 'styles/fonts'
@import 'styles/scaffolding'
@import 'styles/buttons'
@import 'styles/navs'



// Page style
@import 'styles/styles'

// Responsive
@import 'styles/responsive'
