#mobile-nav
	display none

.menu
	margin-right 3.5em
	width 100%

	.container-menu
		text-align right
		font-size 0
		padding 0

		.opc			
			display inline-block
			font-size 14px
			font-weight bold
			letter-spacing 2px
			line-height 2em			
			text-align center			
			text-transform uppercase
			
			a
				color $font_color			
				display block
				padding 20px 1.4em
				text-decoration none
				outline 0

				&:hover
					color $main_color

				&:active
				&:focus
					outline 0