
@media (max-width: 1000px)
	body
		padding-top 0

	#header
		position relative

		.wrapper
			padding 0
			width 100%

	#mobile-nav
		display block
		position absolute
		right 30px
		top 22px

	.menu
		display none
		margin-right 0

		.container-menu			
			.opc
				border-bottom 1px solid #ccc
				display block
				width 100%

				a
					background $main_color
					color #fff
					padding 10px 12px
					text-align left
					transition background .4s ease

					&:hover
						background $main_color_dark
						color #fff

	.organization
		float none
		//text-align center

		.logo
			display inline


	.swiper-container
	.swiper-slide
		height 500px 

	.swiper-container
		.slider-next
		.slider-prev
			display none

		.slider-pagination
			bottom 5px

	.swiper-slide
		.content
			top 50px

			h2
				font-size 30px

			p
				font-size 16px

@media (max-width: 51em) 
	
	#contact
		.contact-info
		.contact-form
			display block
			width 100%

		.contact-info
			margin 0 0 2.4em

	#importance
		.imp
			
			&:nth-child(2n+1) 
				.imp-img
					float none

			.imp-msj
				width 100%

			.imp-img
				float none
				margin 0 auto
				width auto

	#services
		.service
			width 48%

	.block
		padding 4em 0

@media (max-width: 34em) 

	#services
		.service
			width 100%

	.swiper-container
	.swiper-slide
		height 400px

	.swiper-slide
		.content
			padding 0 10px
			top 10px
			p
			h2
				padding 0

