#about-us
	.about-msj
		padding 0

#contact
	background #e74c3c

	.block-title
	.block-title:after
		color #fff

	.contact-info
	.contact-form
		color #fff
		display inline-block
		text-align left
		width 48%
		vertical-align top

		p
			color #fff
			text-align left
			margin 0 0 1em 0
	.contact-msj
		color #fff
		font-size 1.2em
		margin 0 0 2.4em 0

	.contact-form
		button
			background none
			border 1px solid rgba(255,255,255,.5)
			color #fff
			margin 1em 0
			padding .8em 1.6em
			text-transform uppercase

		input
		label
			border none
			display block
			margin-bottom .5em
			width 96%

		input
			padding .6em .4em
		
#banner
	background $main_color

	.message
		color rgba(255, 255, 255, 0.95)
		display block
		font-size 1.3em
		font-weight normal
		line-height 2.5em
		padding 4em 3.3em

#footer
	background #222222
	.rights		
		color #fff
		font-size 0.7em
		padding 3.2em 1em
		text-align center

#header
	//background rgba(255,255,255,0.98)
	background #fff
	box-shadow 0 3px 0 rgba(0, 0, 0, 0.05)
	position fixed
	top 0
	overflow hidden
	width 100%
	z-index 9999

	.wrapper
		max-width none

#main-slider
	.bxslider
		margin 0
		padding 0

#map-canvas
	height 500px
	text-align left
	width 100%

	.map-heading
		font-size 16px
	.map-content
		font-size 14px
		margin 10px 0 0 0


#importance
	.imp
		margin-bottom 5em
		text-align left

		&:nth-child(2n+1) 
			.imp-img
				float right
		
		h3
			font-size 1.3em
			font-weight normal
			margin-top 0

		.imp-msj
			float left
			padding 0 1.5em
			width 61%

		.imp-img
			float left
			padding 0 1.5em
			width 30%

			img
				width 100%





#services
	background #f5f5f6
	text-align left

	.service
		display inline-block
		margin-bottom 3.5em
		text-align center
		padding 0 1.2em
		width 33%

		.service-img
		.service-msj
			display block
			

		.service-img
			img
				width 100%

	.wrapper
		text-align left



.organization
	display block
	float left
	//margin-left 3em	
	text-align left

	.logo-ref
		text-decoration none

	.logo
		display block
		height 50px
		margin 10px
