<!DOCTYPE html>
<html lang="us">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Orientacion familiar</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="css/vendor/normalize.min.css" />
		<link rel="stylesheet" href="css/vendor/font-awesome.min.css" />
		<link rel="stylesheet" href="css/vendor/idangerous.swiper.css" />
		<link rel="stylesheet" href="css/main.css" />

		<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
	<body id="home">
		<header id="header">
			<div class="wrapper">
				<figure class="organization">
					<a class="logo-ref" href="//localhost" title="Orientacion Familiar">
						<img class="logo" src="img/logo.png" alt="Logo" />
					</a>
				</figure>
				<div id="mobile-nav">
					<a id="mobile-nav-icon" href="#">
						<img src="img/assets/mobileNav.png" width="38px" height="20px" alt="" />
					</a>
				</div>

				<nav class="menu">
					<ul class="container-menu">
						<li class="opc"><a href="#home" class="smoothScroll">Inicio</a></li>
						<li class="opc"><a href="#importance" class="smoothScroll">Importancia</a></li>
						<li class="opc"><a href="#services" class="smoothScroll">Servicios</a></li>
						<li class="opc"><a href="#about-us" class="smoothScroll">Sobre nosotros</a></li>
						<li class="opc"><a href="#contact" class="smoothScroll">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<section id="main-slider">    
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="background-image: url(img/slides/slide_1.jpg)" data-bg-alignment="center" data-x-pos="left" data-y-pos="middle">
						<div class="container">
							<div class="content">
								<h2>Loem ipsum</h2>
								<p>Lorem ipsum dolor asitmet <br/>
									Lorem ipsum dolor asitmet Lorem ipsum dolor asitmet <br/>
									Lorem ipsum dolor asitmet
								</p>
								<div class="buttons">
									<a class="btn transparent" href="#">View More Features</a>
									<a class="btn solid_color" href="#">Learn About Us</a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide" style="background-image: url(img/slides/slide_4.jpg);" data-bg-alignment="center" data-x-pos="middle" data-y-pos="middle">
						<div class="container">
							<div class="content">
								<h2>Lorem ipsum dolor asitmet</h2>
								<p>Lorem ipsum dolor asitmet Lorem ipsum dolor asitmet</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide" style="background-image: url(img/slides/slide_2.jpg);" data-bg-alignment="center" data-x-pos="middle" data-y-pos="middle">
						<div class="container">
							<div class="content">
								<h2>Lorem ipsum dolor asitmet</h2>
								<p>Lorem ipsum dolor asitmet Lorem ipsum dolor asitmet</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="slider-prev"><i class="fa fa-angle-left"></i></a>
				<a href="#" class="slider-next"><i class="fa fa-angle-right"></i></a>
				<div class="slider-pagination"></div>
			</div>

		</section>


		<section id="banner">
			<div class="wrapper">
				<span class="message">I think most programmers spend the first 5 years of their career mastering complexity and the rest of their lives learning simplicity - Buzz Andersen</span>
			</div>			
		</section>

		<section id="importance" class="block">
			<div class="wrapper">
				<div class="imp-wrapper clearfix">
					<h2 class="block-title">Importancia</h2>
					<article class="imp clearfix">
						<div class="imp-img"><img src="img/css3-markup.jpg" alt="Two"/></div>
						<div class="imp-msj">
							<h3>Lorem ipsum</h3>
							<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.</p>
		
						</div>
					</article>


					<article class="imp clearfix">
						<div class="imp-img"><img src="img/css3-markup.jpg" alt="Two"/></div>
						<div class="imp-msj">
							<h3>Lorem ipsum</h3>
							<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
		
						</div>
					</article>
				</div>
			</div>		
		</section>
		<section id="services" class="block">
			<div class="wrapper">
				<h2 class="block-title">Servicios</h2>
				<article class="service">
					<div class="service-img"><img src="img/HTML5rawkes.png" alt="Two"/></div>
					<p class="service-msj">Accusantium quam, ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper ullamcorper, magna quam. </p>
				</article>

				<article class="service">
					<div class="service-img"><img src="img/HTML5rawkes.png" alt="Two"/></div>
					<p class="service-msj">Accusantium quam, ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper ullamcorper, magna quam. </p>
				</article>

				<article class="service">
					<div class="service-img"><img src="img/HTML5rawkes.png" alt="Two"/></div>
					<p class="service-msj">Accusantium quam, ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper ullamcorper, magna quam. </p>
				</article>

				<article class="service">
					<div class="service-img"><img src="img/HTML5rawkes.png" alt="Two"/></div>
					<p class="service-msj">Accusantium quam, ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper ullamcorper, magna quam. </p>
				</article>

				<article class="service">
					<div class="service-img"><img src="img/HTML5rawkes.png" alt="Two"/></div>
					<p class="service-msj">Accusantium quam, ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper ullamcorper, magna quam. </p>
				</article>

				<article class="service">
					<div class="service-img"><img src="img/HTML5rawkes.png" alt="Two"/></div>
					<p class="service-msj">Accusantium quam, ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper ullamcorper, magna quam. </p>
				</article>
			</div>		
		</section>
		<section id="about-us" class="block">
			<div class="wrapper">
				<h2 class="block-title">Sobre nosotros</h2>
				<div class="about-msj"><p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p></div>
			</div>
		</section>
		<section id="map-canvas"></section>
		<section id="contact" class="block">
			<h2 class="block-title">Contacto</h2>
			
			<div class="wrapper">
				<p class="contact-msj">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>

				<section class="contact-info">
					<p><strong>Orientacion Familiar</strong><br />
						10915NW 70ST <br />
						Doral, 33178 <br />
						Miami, FL
					</p>
					<p>+1 305 XXX XXX</p>
					<p><a href="mailto:contact@orientacionfamiliar.com"></a>contact@orientacionfamiliar.com</p>
				</section>
				<section class="contact-form">
					<label for="name">Name</label>
					<input type="text" name="name" class="required" required />

					<label for="email">Email</label>
					<input type="email" name="email" class="required" required />

					<label for="message">Message</label>
					<input type="text" name="message" class="required" required />

					<div class="controls">
						<button type="submit" class="btn">Send</button>
					</div>
				</section>
			</div>
			
		</section>
		
		<footer id="footer">
			<div class="wrapper">
				<div class="rights">
					<h3 class="powered">
						<strong>
							Powered by JM
						</strong>
						<span> - Designed by Jose Castillo</span>
					</h3>
				</div>
			</div>
		</footer>


		<script src="js/vendor/jquery-1.10.1.min.js"></script>
		<script src="js/vendor/idangerous.swiper-2.4.min.js"></script>
		<script src="js/vendor/smoothscroll.js"></script>
		<script src="js/vendor/jquery.easing.1.3.js"></script>
		<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDOdvw5yebCIcli6tTzTz5dPy9WmgLCWoM&sensor=false"></script>

		<script src="js/app.min.js"></script>
	</body>
</html>
